.logoutBtn{
    background-color: green;
    color: white;
    margin-right: 35px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 7vw;
}