* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logoImage {
    margin-top: 10px;
    margin-left: 10px;
    height: 8vh;
}

.logoImage:hover {
    cursor: pointer;
}

.abesName {
    color: green;
}

.abesName:hover {
    cursor: pointer;
}

/* button */
.dropbtn {
    background-color: green;
    color: white;
    margin-right: 35px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 7vw;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    width: fit-content;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    width: fit-content;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* button end  */
.body {
    background-color: #d9eee1;
    height: 90vh;
    display: flex;
}

.labText {
    width: 40vw;
    height: fit-content;
    margin-top: 20vh;
    margin-left: 10vh;
}

.labText-h1 {
    color: green;
}

.labText-h1:hover {
    color: green;
    cursor: pointer;
}

.labText-p {
    font-size: large;
    font-weight: 500;
}

.lab-img {
    margin-top: 10vh;
    margin-left: 10px;
    border-radius: 10px;
    height: 30vw;
    width: auto;
}

.lab-img:hover {
    cursor: pointer;
}